<div class="register-photo">
    <% if @user.errors.any? %>
                <div id="error_explanation" class="form-container">
                  <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
                  <ul>
                  <% @user.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                  <% end %>
                  </ul>
                </div>
                <% end %>
        <div class="form-container">
            <h2 class="text-center NewBook"><strong>Create</strong> an account.</h2>
        	<%= render 'form' %>
        </div>
</div>
