<% if current_user.is_admin? %>
<%= form_for(@role) do |f| %>
<div class="form-group">
  <h4>Name </h4>
  <%= f.text_field :name, class:"form-control", placeholder:"Name" %>
</div>
<div class="form-group">
  <h4>Description </h4>
  <%= f.text_area :description, class:"form-control", placeholder:"Description", id:"textarea" %>
</div>
<div class="form-group">
  <h4>Level </h4>
  <%= f.number_field :level, class:"form-control", placeholder:"level", min:"0", step:"1" %>
</div>
<div class="form-group">
  <%if request.path == "/roles/new"%>
  <button class="btn btn-primary btn-block" type="submit">Create</button>
  <%else%>
  <div class="form form-group">
    <button class="btn btn-primary btn-block" type="submit">Update</button>
  </div>
  <%end%>
</div>
<%end%>
<%end%>