<div class="footer-dark">
      <footer>
        <div class="container">
          <div class="row">
            <div class="col-md-12 col-md-offset-0 col-sm-4 col-sm-offset-4 item social"> 
              <a href="#"><i class="icon ion-social-facebook"></i></a>
              <a href="#"><i class="icon ion-social-twitter"></i></a>
              <a href="#"><i class="icon ion-social-snapchat"></i></a>
              <a href="#"><i class="icon ion-social-instagram"></i></a>
            </div>
          </div>
          <p class="copyright">Virtual Library © 2016</p>
        </div>
      </footer>
</div>